Abe.*.lua
Apollyon [KE].*.lua
Ash.*.lua
Azazel.*.lua
Baba.*.lua
Bethany.*.lua
Blind Johnny.*.lua
Blue Archer.*.lua
Blue Baby.*.lua
Boyfriend.*.lua
Bum-bo the Weird.*.lua
Bum-bo!.*.lua
Cain.*.lua
Captain Viridian.*.lua
Crewmate.*.lua
Dark Judas.*.lua
Eden.*.lua
Eden.*.lua
Eden.*.lua
Eden.*.lua
Eden.*.lua
Eden.*.lua
Eden.*.lua
Eden.*.lua
Eden.*.lua
Edmund.*.lua
Eve.*.lua
Flash Isaac.*.lua
Guppy.*.lua
Guy Spelunky.*.lua
Isaac.*.lua
Jacob & Esau.*.lua
Johnny.*.lua
Judas.*.lua
Keeper [KE].*.lua
Lazarus.*.lua
Lilith.*.lua
Magdalene.*.lua
Pink Knight.*.lua
Psycho Goreman.*.lua
Quote.*.lua
Salad Fingers.*.lua
Samson.*.lua
Steven.*.lua
Tapeworm.*.lua
The Baleful.*.lua
The Benighted.*.lua
The Broken.*.lua
The Capricious.*.lua
The Curdled.*.lua
The Dauntless.*.lua
The Deceiver.*.lua
The Deserter.*.lua
The Empty.*.lua
The Enigma.*.lua
The Fettered.*.lua
The Forgotten.*.lua
The Harlot.*.lua
The Hoarder.*.lua
The Knight.*.lua
The Lost [KE].*.lua
The Miser.*.lua
The Savage.*.lua
The Silent.*.lua
The Soiled.*.lua
The Zealot.*.lua
Whore of Babylon.*.lua
Yung Venuz.*.lua